#main{
    text-align: center;
}
h1{
    color:orangered;
    font-size: 45px;
}
#instructions{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
    margin-bottom: 60px;
}
table{
    
    width: 20%;
    margin: 0 auto;
    
}
tr,td{
    border:1px solid black;
    width: 20%;
    height: 30px;
}
#restart-game{
    border: none;
    border-radius: 2px;

    text-align: center;
    text-decoration: none;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;

    background-color: dodgerblue;
    color: white;
    cursor: pointer;

    margin: 4px 2px;
    padding: 6px;
    display: inline-block;
}