#main{
    text-align: center;
}
h1{
    color:orangered;
    font-size: 45px;
}
#instructions{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dodgerblue;
    font-size: 17px;
}
table{
    
    width: 20%;
    margin: 0 auto;
    
}
tr,td{
    border:1px solid black;
    width: 10px;
    height: 10px;
    
}
#restartGame{
    border: 1px solid dodgerblue;
    margin: auto;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}